{:source-paths ["src"]

 :dependencies [[reagent "1.0.0"]
                [re-frame "1.2.0"]
                [hickory "0.7.1"]
                [binaryage/devtools "1.0.2"]
                [akiroz.re-frame/storage "0.1.4"]
                [cider/cider-nrepl "0.25.5"]]

 :nrepl  {:port 3333}

 :builds {:app {:target :browser
                :modules {:main {:init-fn app.core/init}}
                :output-dir "public/js"
                :asset-path "/js"
                :devtools {:http-root "public"
                           :http-port 3000}}}}
