$margin: 0;

:global {
  body {
    margin: $margin;
  }

  svg {
    fill: currentColor;
  }

  .header {
    text-align: center;
  }

  .main {
    text-align: center;
  }

  pre {
    text-align: left;
  }

  .language-cljs {
    white-space: pre-line !important;

    > span:nth-child(2) {
      display: block;
      padding-left: 1em;
    }
  }

  .hljs {
    &-keyword {
      color: red;
    }

    &-title {
      color: blue;
    }

    &-string {
      color: green;
    }

    &-symbol {
      color: purple;
    }
  }
}

.upload {
  display: table;
  margin-right: auto;
  margin-left: auto;

  &--large {
    background: yellow;
  }

  &__button {
    text-decoration: underline;
    cursor: pointer;
  }

  &__icon {
    margin-right: 8px;
  }

  &__input {
    display: none;
  }
}

.dropdown {
  position: relative;
  z-index: 100;

  &__trigger {
    background: yellow;
  }

  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background: white;
  }

  &__input {
    border: 1px solid red;
  }

  &__button {
    background: yellow;
  }

  &__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
  }
}

.controller {
  display: flex;

  &__counter {
    color: red;
  }

  &__button {
    background: yellow;
  }
}
