$margin: 0;

:global {
  body {
    margin: $margin;
    user-select: none;
  }

  .header {
    text-align: center;
  }

  .main {
    text-align: center;
  }
}

.upload {
  display: table;
  margin-right: auto;
  margin-left: auto;

  &__button {
    text-decoration: underline;
    cursor: pointer;
  }

  &__input {
    display: none;
  }
}
