$margin: 0;

:global {
  body {
    margin: $margin;
  }

  svg {
    fill: currentColor;
  }

  .header {
    text-align: center;
  }

  .main {
    text-align: center;
  }
}

.upload {
  display: table;
  margin-right: auto;
  margin-left: auto;

  &--large {
    background: yellow;
  }

  &__button {
    text-decoration: underline;
    cursor: pointer;
  }

  &__icon {
    margin-right: 8px;
  }

  &__input {
    display: none;
  }
}

.controller {
  display: flex;

  &__counter {
    color: red;
  }

  &__button {
    background: yellow;
  }
}
